{% extends 'user_default.html' %}

{% block extra-title %} - Change your password {% endblock %}

{% block content %}

<form class="form-signin" method="post" role="form">
  {% csrf_token %}
  <!-- {{ form }} -->
  <label for="id_old_password">Your current password</label>
  <input type="password" id="id_old_password" name="old_password" class="form-control" placeholder="********" required>
  <hr/>
  <label for="id_new_password1">Your new password</label>
  <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="********" required>
  <br>
  <label for="id_new_password2">Please verify your new password</label>
  <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="********" required>
  <hr/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
  {% if form.error_messages %}
      <hr/>
      <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      {% for error in form.error_messages.values %}
          <div class="well-sm">{{error}}</div>
      {% endfor %}
      </div>
  {% endif %}

</form>


{% endblock %}