{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>ConnectedIn</title>
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'styles/main.css' %}" rel="stylesheet"/>
</head>
<body>

<div class="container">

    <div class="header">
       <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
             <a class="navbar-brand" href="{% url 'index' %}">ConnectedIn {% block extra-title %}{% endblock %}</a>
         </div>
       </nav>
    </div>

    <div class="body" style="margin-top:4em;">
    {% block content %}
    {% endblock %}
    </div>

</div>

<script src="{% static 'scripts/vendor/jquery-1.9.1.js' %}"></script>
<script src="{% static 'scripts/vendor/bootstrap-min.js' %}"></script>
<script>
    {% block js %}
    {% endblock %}
</script>

</body>
</html>