{% extends "user_default.html" %}


{% block extra-title %} - Login {% endblock %}

{% block content %}

    <form class="form-signin" role="form" action="{% url 'login' %}" method="post">

    {% csrf_token %}

        <input type="email" id="field_username" name="username" class="form-control" placeholder="E-mail" required autofocus>
        <hr/>
        <input type="password" id="field_password" name="password" class="form-control" placeholder="********" required>
        <hr/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>

    {% if form.errors %}
        <hr/>
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        The email or password you've entered doesn't match any account.
        </div>
    {% endif %}

    </form>

{% endblock %}
