{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>ConnectedIn</title>
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'styles/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'styles/materialdesignicons.css' %}" rel="stylesheet"/>
</head>
<body>

<div class="container">

    <div class="header">
    <ul class="nav nav-pills pull-right">
        {% if current_profile %}
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'show_profile' current_profile.pk %}"><b>{{ current_profile.name }}</b></a></li>
            <li><a href="{% url 'invites' %}">Requests ({{ current_profile.invites_received.count }})</a></li>
            <li><a href="{% url 'friends' %}">Friends ({{ current_profile.friends.count }})</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}"><b>Login</b></a></li>
            <li><a href="{% url 'register' %}"><b>Register</b></a></li>
        {% endif %}
    </ul>
        <h3 class="text-muted">ConnectedIn</h3>
    </div>

    {% block content %}
    {% endblock %}

</div>

<script src="{% static 'scripts/jquery-1.9.1.js' %}"></script>
<script src="{% static 'scripts/bootstrap.js' %}"></script>
<script src="{% static 'scripts/npm.js' %}"></script>
<script>
    {% block js %}
    {% endblock %}
</script>

</body>
</html>