{% extends 'default.html' %}

{% block js %}
$('.dropdown-toggle').dropdown()
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>
                {% if friends %}
                    You have {{friends.count}} friend{{friends.count|pluralize:"s"}}
                {% else %}
                    You don't have any friends D:
                {% endif %}
                </strong>
            </div>
            {% if friends %}
            <div class="panel-body">
                <div class="list-group clearfix">
                    {% for friend in friends %}
                        <div class="list-group-item clearfix">
                            <span>Name: <a href="{% url 'show_profile' friend.id %}">{{ friend.name }}</a> // E-mail: {{ friend.email }}</span>
                            <a href="{% url 'remove_a_friend' friend.id %}" class="btn-link pull-right">Remove</a>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}