{% extends 'default.html' %}
{% block content %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>All profiles</strong></div>
    {% if profiles %}
        <ul class="list-group">
        {% for profile in profiles %}
            <li class="list-group-item">Nome: <a href="{% url 'show_profile' profile.id %}">{{ profile.name }}</a> // E-mail: {{ profile.email }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No profiles found!</p>
    {% endif%}
    </div>
</div>

{% endblock %}