{% extends 'default.html' %}

{% block js %}
$('.dropdown-toggle').dropdown()
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>
                {% if invited %}
                    You have {{invited.count}} pending request{{invited.count|pluralize:"s"}}
                {% else %}
                    No pending invites!
                {% endif %}
                </strong>
            </div>
            {% if invited %}
            <div class="panel-body">
                <div class="list-group clearfix">
                    {% for invite in invited %}
                        <div class="list-group-item clearfix">
                            <span>Name: <a href="{% url 'show_profile' invite.inviter.id %}">{{ invite.inviter.name }}</a> // E-mail: {{ invite.inviter.email }}</span>
                            <a href="{% url 'invite_decline' invite.id %}" class="btn-link pull-right" style="margin-left:1em">Decline</a>
                            <a href="{% url 'invite_accept' invite.id %}" class="btn-link pull-right">Accept</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>
                {% if invites %}
                    You have {{invites.count}} request{{invited.count|pluralize:"s"}} made!
                {% else %}
                    No requests made!
                {% endif %}
                </strong>
            </div>
            {% if invites %}
            <div class="panel-body">
                <div class="list-group">
                {% for invite in invites %}
                    <div class="list-group-item">Name: <a href="{% url 'show_profile' invite.invited.id %}">{{ invite.invited.name }}</a> // E-mail: {{ invite.invited.email }}</div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}