<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConnectedIn</title>
</head>
<body>
{% if invites %}
    Convidados:
    <ul>
    {% for invite in invites %}
        <li>Nome: <a href="{% url 'show_profile' invite.invited.id %}">{{ invite.invited.name }}</a> // E-mail: {{ invite.invited.email }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No invites made!</p>
{% endif%}
{% if invited %}
    Convites recebidos:
    <ul>
    {% for invite in invited %}
        <li>Nome: <a href="{% url 'show_profile' invite.invited.id %}">{{ invite.invited.name }}</a> // E-mail: {{ invite.invited.email }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No invites received!</p>
{% endif%}
</body>
</html>